/* for brands carousel */
.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1rem;
  --slide-size: 20%;
}
@media only screen and (max-width: 640px) {
  .embla {
    --slide-size: 100%;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

/* for trust carousel */
.embla_trust {
  /* max-width: 50vw; */
  width: 50vw;
  overflow: hidden;
  --slide-height: 108px;
  --slide-spacing: 64px;
  --slide-size: 172px;
}
@media only screen and (max-width: 640px) {
  .embla_trust {
    --slide-height: 48px;
    --slide-spacing: 24px;
    --slide-size: 72px;
  }
}

.embla__viewport_trust_1 {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.embla__viewport_trust_2 {
  overflow: hidden;
  direction: rtl;
  -webkit-overflow-scrolling: touch;
}
.embla__container_trust {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide_trust {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number_trust {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
